  <h1>Life is too short for playing sudoku</h1>

  <div id="flash">
    <%= flash[:notice] %>
  </div>

  <div id="Sudoku">
    <form action="/" method="post">
      <% 3.times do |row| %>
        <div class="row">
          <% 3.times do |box| %>
            <div class="box">
              <% 3.times do |cell_row| %>
                <div class="cell_row">
                  <% 3.times do |cell| %>
                    <div class="cell">
                      <%= partial :_cell, :locals=>{:cell_index => row*27+box*3+cell_row*9+cell} %>
                    </div>
                  <%end%>
                </div>
              <%end%>
            </div>
          <%end%>
        </div>
      <%end%>
      <button name="clicked_button" type="submit" value="check_solution">Check solution</button>
      <button name="clicked_button" type="submit" value="save">Save</button>
    </form> 
  </div>

  <a href="/easy_puzzle">New easy puzzle</a>
  <a href="/hard_puzzle">New hard puzzle</a>

  <% if @current_solution == session[:current_solution] || session[:puzzle] && @current_solution != session[:solution] %>
    <a href="/solution">Bored? Check the solution!</a>
  <% end %>

  <% if @current_solution == session[:solution] %>
    <a href="/clear_solution">Back to puzzle</a>
  <% end %>