 <img id="logo" src="/images/logo.png">

 <div id="content">
 
  <div id="flash">
    <div id="flash_notice"><%= flash.now[:notice] %></div>
  </div> 

  <div id="Sudoku">
    <form action="/" method="post">
      <% 3.times do |row| %>
        <div class="row">
          <% 3.times do |box| %>
            <div class="box">
              <% 3.times do |cell_row| %>
                <div class="cell_row">
                  <% 3.times do |cell| %>
                    <div class="cell">
                      <%= partial :_cell, :locals=>{:cell_index => row*27+box*3+cell_row*9+cell} %>
                    </div>
                  <%end%>
                </div>
              <%end%>
            </div>
          <%end%>
        </div>
      <%end%>
      
      <button class="clicked-button" id="check-answers-button" name="clicked_button" type="submit" value="check_solution">
        <img src="/images/check_answers_button.png" id="check-answers-image">
      </button>

      <button class="clicked-button" id="save-button" name="clicked_button" type="submit" value="save">
        <img src="/images/save_button.png" id="save-button-image">
      </button>

      <% if @current_solution == session[:current_solution] || session[:puzzle] && @current_solution != session[:solution] %>
        <button class="clicked-button" id="see-solution-button" name="clicked_button" type="submit" value="check_finished_solution">
          <img src="/images/see_solution.png" id="see-solution-image">
        </button>
      <% end %>

    <% if @current_solution == session[:solution] %>
      <a href="/clear_solution"><button class="clicked-button" id="back-to-puzzle-button">
        <img src="/images/back_to_puzzle_button.png" id="see-solution-image"></button>
      </a>
    <% end %>
  </form> 
</div>
<div id="links">
  <a href="/easy_puzzle">NEW: EASY</a>
  <a href="/hard_puzzle">NEW: HARD</a>
  <a href="/restart">RESTART</a>
</div>
<p>Made by Srikanth Kunkulagunta at <a href="http://makersacademy.com">Makers Academy</a>, using ruby and sinatra.</p>

</div>

<div id="button-background"><img src="/images/button_background.png"></div>
