<html>
<head>
  <title>Sudoku Game</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/application.css">
</head>

<body background="/images/background.jpg">

  <%=yield %>
  
</body>
</html>