!!!
%html
  %head
    %title Sudoku Game
    
    %link(rel="stylesheet" type="text/css" href="/stylesheets/application.css")
    / %script(src="/javascript/application.js")

  %body(background="/images/background.jpg")
    =yield