body {
	text-align: center;
	font-family: Arial;
	background-size: cover;
}


#content {
	position: relative;
	z-index: 100;
}

div.box, div.cell{
	display: inline-block;
}

a {
	margin-top: 20px;
}

.clicked-button{
	margin-top: 30px;
	background-color: rgba(0,0,0,0);
	border-width: 0;
}

#save-button{
	width: 240px;
	text-align: center;
}

#save-button-image {
	width: 160px;
}

#check-answers-button {
	width: 240px;
	text-align: center;
}

#check-answers-image {
	width: 220px;
}

#see-solution-button {
	width: 240px;
	text-align: center;
}

#see-solution-image {
	width: 180px;
	margin-bottom: -10px;
}

#back-to-puzzle-button {
	width: 240px;
	text-align: center;
}

#back-to-puzzle-image {
	width: 190px;
}

#button-background {
	position: relative;
	width: 900px;
	height: 200px;
	margin-top: -180px;
	z-index: -1;
}

#restart {
	margin: auto;
	padding-left: 20px;
	width:150px;
	margin-bottom: -40px;
}

#easy_puzzle {
	margin: auto;
	width: 250px;
}

#hard_puzzle {
	width: 250px;
}

#links {
	margin-top: 20px;
}

#links a {
	text-decoration: none;
	font-size: 20px;
	font-family: Ariel;
	color: #fff;
	padding-right: 5px;
	padding-left: 5px;
}

.cell input {
	width: 40px;
	height: 40px;
	text-align: center;
	font-size: 22;
	border-width: 1px;
	border-color: rgba(0,0,0,0.4);
	font-weight: bold;
	font-family: Ariel;
}

.cell {
}

#sudoku {
	font-size: 0;
	text-align: center;
}

.incorrect {
	background-color: rgba(130,230,255,0.8);
}

.value-provided {
	background-color: rgba(230,230,230, 0.8);
}

#flash {
  margin: 20px;
  height: 30px;
  text-align: center;
}

#flash_notice {
	margin: auto;
	width: 300px;
	background-color: rgba(130,230,255,0.8)
}

.box {
	border-style:solid;
	border-width:2px;
	margin-top:-2px;
	margin-left:-2px;
}

#logo {
	margin-top: 30px;
	width: 350px;
}

#footer {
	height: 50px;
	width: 100%;
	background-color: rgba(255,255,255,0.7);
}

#footer p {
	padding-top: 15px;
}